body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 418px;
    gap: 6px;
    align-self: center;
}
.button-container .calculator-button {
    background-color: rgb(203, 249, 255);
    border-color: black;
    border-radius: 16px;
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
}
.button-container .calculator-button:hover {
    background-color: rgb(226, 252, 255);
}
.button-container .calculator-button:active {
    background-color: rgb(143, 240, 253);
}
.button-container .result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 16px;
    width: 418px;
    height: 80px;
    font-size: 40px;
    padding: 4px 12px;
}
.button-container .calculator-button.decimal {
    background-color: rgb(109, 219, 255);
}
.button-container .calculator-button.decimal:hover {
    background-color: rgb(174, 235, 255);
}
.button-container .calculator-button.decimal:active {
    background-color: rgb(49, 204, 255);
}
.button-container .calculator-button.operator {
    background-color: rgb(151, 255, 125);
}
.button-container .calculator-button.operator:hover {
    background-color: rgb(216, 255, 206);
}
.button-container .calculator-button.operator:active {
    background-color: rgb(113, 248, 79);
}
.button-container .calculator-button.equals {
    background-color: rgb(109, 219, 255);
}
.button-container .calculator-button.equals:hover {
    background-color: rgb(174, 235, 255);
}
.button-container .calculator-button.equals:active {
    background-color: rgb(49, 204, 255);
}
.button-container .calculator-button.clear {
    background-color: rgb(255, 214, 125);
    width: 206px;
    font-size: 30px;
}
.button-container .calculator-button.clear:hover {
    background-color: rgb(255, 237, 197);
}
.button-container .calculator-button.clear:active {
    background-color: rgb(255, 200, 82);
}
.button-container .calculator-button.delete {
    background-color: rgb(255, 166, 125);
    width: 206px;
    font-size: 30px;
}
.button-container .calculator-button.delete:hover {
    background-color: rgb(255, 214, 195);
}
.button-container .calculator-button.delete:active {
    background-color: rgb(248, 143, 94);
}
.button-container .result .result-stored {
    font-size: 24px;
    font-weight: bold;
    max-width: 400px;
    color: rgb(78, 78, 78);
}